*.jl.*.cov
*.jl.cov
*.jl.mem
*.csv
*.log
__*.jl
/_*/
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
ciddor_results.csv
/test/MaterialProperties/pythonscript/__pycache__
/test/MaterialProperties/pythonscript/__pycache__
